* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

.fancy-border,
.fancy-border-lined-thin {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 2px #41403e;
}
.fancy-border:hover,
.fancy-border-lined-thin:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.fancy-border-lined-thick {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 3px #41403e;
}
.fancy-border-lined-thick:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}

.bdr-blue {
  border-color: blue;
}

.bdr-green {
  border-color: green;
}

.bdr-red {
  border-color: red;
}

* {
  font-family: 'Gochi Hand', cursive;
  font-weight: 100;
}

body {
  background-color: #f3f4f5;
}

@media (min-width: 768px) {
  .page {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.preview {
  padding: 38px 35px 40px 45px;
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
}
@media (min-width: 768px) {
  .preview {
    width: calc(100% - 400px);
  }
}
.preview__card {
  width: 240px;
  height: 330px;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.preview__photo {
  width: 200px;
  height: 200px;
  background-image: url('../images/monigota.png');
  background-size: cover;
  background-position: center center;
}
.preview__header {
  border-left: solid 5px #438792;
  padding-left: 15px;
  margin-left: -20px;
}
.preview__name {
  color: #114e4e;
}
.preview__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-left: 5px;
  border-radius: 50%;
  border: solid 2px #a2deaf;
  color: #114e4e;
  text-decoration: none;
}

.form {
  padding: 40px;
}
@media (min-width: 768px) {
  .form {
    width: 400px;
  }
}
.form__box {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #d8d8d8;
}
.form__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form_paletteslist {
  list-style-type: none;
}
.form__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.form__designinput {
  display: flex;
  justify-content: space-between;
}
.form__item--photo {
  list-style-type: none;
  display: flex;
  margin-top: 18px;
  flex-direction: row;
  flex-wrap: wrap;
}
.form__photolabel {
  width: 100%;
}
.form__photobutton {
  color: white;
  background-color: #e17334;
  font-weight: lighter;
  width: 140px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.form__photoinput {
  display: none;
}
.form__photothumb {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: solid 1px #a2deaf;
  background-size: contain;
  background-position: center center;
}

.form__link {
  display: block;
  padding: 10px;
  text-align: center;
}

.form__shareinput {
  text-align: center;
  padding: 20px;
}

/* END Form */
.palette-1 .preview__name {
  color: #420101;
}

.palette-1 .preview__header {
  border-color: #bd1010;
}

.palette-1 .preview__icon {
  color: #420101;
  border-color: #e95626;
}

.palette-2 .preview__name {
  color: #420101;
}

.palette-2 .preview__header {
  border-color: #bd1010;
}

.palette-2 .preview__icon {
  color: #420101;
  border-color: #e95626;
}

.palette-3 .preview__name {
  color: #3e5b65;
}

.palette-3 .preview__header {
  border-color: #eab052;
}

.palette-3 .preview__icon {
  color: #3e5b65;
  border-color: #a0c0cf;
}

/*
.palette-2 {
  color: $dried-blood;
}

.palette-2-link {
  color: $dried-blood;
  border-color: tomato;
}

.palette-3 {
  color: $slate;
}
*/
.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__logo {
  height: 40px;
}

.collapsed {
  display: none;
}
